{% extends "base.html.twig" %}

{% block title %}SymRecipe .
	{{recipe.name}}
{% endblock %}

{% block body %}
	<div
		class="container">
		{# {{dump(recipe)}} #}
		<h1 class="mt-4">{{recipe.name}}</h1>

		{% if recipe.images|length > 0 %}
			<div class="col-6">
				<div
					id="carouselExampleIndicators" class="carousel slide">
					{# même principe que pour les images, pour les indacteurs on doit boucler #}
					<div class="carousel-indicators">
						{% for iteration in 1..recipe.images|length %}
							<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{iteration - 1}}" {{(loop.first) ? 'class="active" aria-current="true"' : ''}} aria-label="Slide {{iteration}}"></button>
						{% endfor %}
					</div>
					<div class="carousel-inner">
						{% for image in recipe.images %}
							{# pour la classe active on utilise la méthode de twig loop.first et une conditien en ternaire #}
							<div class="carousel-item {{(loop.first) ? 'active' : " " }}">
								{# on va chercher les images à l'aide de la fonction asset de twig qui se dirige directement dans public #}
								{# on concatène avec le tilde #}
							<img src="{{asset('assets/uploads/recipes/mini/300x300-' ~ image.name)}}" class="d-block w-100" alt="{{recipe.name}}"> </div>
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		{% else %}
			<p>Pas d'images</p>
		{% endif %}


		{# {% for image in recipe.images %}
													<div>
														<img src="{{ asset('assets/uploads/recipes/mini/300x300-' ~ image.name ) }}" alt="Image" width="150">
										
													</div>
												{% endfor %} #}


		<p>La moyenne de cette recette est de
			{{recipe.average|number_format(2, '.', ',')}}/5</p>
		<span class="badge bg-primary">Créée le
			{{recipe.createdAt|date('d/m/y')}}</span>
		<div class="mt-4">
			{% if recipe.time %}
				<p>Temps (en minutes) :
					{{recipe.time}}</p>
			{% else %}
				<p>Temps non renseigné.</p>
			{% endif %}
		</div>

		<div class="mt-4">
			{% if recipe.nbPeople %}
				<p>Pour
					{{recipe.nbPeople}}
					personnes</p>
			{% else %}
				<p>Nombre de personnes non renseigné.</p>
			{% endif %}
		</div>


		<p>Difficulté :
			{{recipe.difficulty}}/5</p>

		<div class="mt-4">
			{% if recipe.price %}
				<p>Prix (en €) :
					{{recipe.price}}</p>
			{% else %}
				<p>Prix non renseigné.</p>
			{% endif %}
		</div>


		<div>{{recipe.description|raw}}</div>
		<p class="mt-4">Ingrédients :</p>
		{% for ingredient in recipe.ingredients %}
			<span class="badge bg-primary">{{ingredient.name}}</span>
		{% endfor %}

		<div class="">
			{{form(form)}}
			</div>
		</div>


	{% endblock %}
